* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.emailSignTemp {
  background-color: #fbab7e;
  background-image: linear-gradient(62deg, #fbab7e 0%, #f7ce68 100%);
  display: flex;
  justify-content: center;
  align-items: center;
}
